

body {
    background: #f1f1f1;
    display: flex;
    align-items: center;
    height: 100vh;    
    font-family: sans-serif;
    margin: 0;
    
}
header {
    text-align: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}
.obs{
    text-align: center;
    font-size: 20px;
    
}

h2{
    align-content: flex-start;
    font-family: sans-serif;
    font-size: 70px;
    text-align: left;
    border: solid;
    font-weight: bold;
    border-radius: 8px;
}


.container{
    width: 300px;
    margin: auto;
}
input{
    width: 100%;
    border-radius: 8px;
    padding: 8px 10px;
    border: 1px solid #000;
    height: 45px;
}
ul{
    list-style: none;
    padding: 0;
}

/*Modifica os Elementos da lista*/
li{
    background: burlywood;
    border-radius: 8px;
    width: 100%;
    padding: 8px 15px;
    margin: 5px 0;
}
.name-selected { 
    color: #800000; 
    font-weight: bold; 
    font-size:20px ;
}
.normal-name { 
    color: black; 
}